@import "@/app/variables";

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: $main-fs;
    color: $primary-color;
    background: $primary-bg;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

@include media(lg) {
    html, body {
        font-size: calc($main-fs * 0.85);
    }
}

@include media(sm) {
    html, body {
        font-size: calc($main-fs * 0.7);
    }
}
