.input {
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    &__label {
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        opacity: 0;
        transition: all 0.3s ease;
        cursor: text;
    }

    &__field {
        font-size: 16px;
        padding: 20px 0 10px;
        height: 56px;
        width: 100%;
        border: none;
        border-bottom: solid 2px rgba(0, 0, 0, 0.1);
        background: inherit;
        box-sizing: border-box;
        transition: all 0.3s ease;
        font-weight: 400;
        -webkit-appearance: none;
        color: #efeff5;
        margin-right: 25px;
        display: flex;
        cursor: text;

        &[type=datetime-local]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: drop-shadow(0 0 2px white);
            margin-left: 110px;
        }

        &:last-child {
            margin: 0;
        }

        &:focus {
            border-bottom: solid 2px #7668cb;
            outline: 0;
            box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
        }

        &:not(:placeholder-shown) {
            padding: 28px 0 4px 0;

            & + label {
                transform: translateY(-10px);
                opacity: 0.8;
            }
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: #efeff5 !important;
            -webkit-box-shadow: inset 0 0 0 30px #333 !important;

            & + label {
                transform: translateY(-10px);
                opacity: 0.8;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 44px;
        display: flex;

        & img {
            height: 30px;
            width: 30px;
            margin: auto;
            opacity: 0.15;
            fill: #efeff5;
            transition: all 0.3s ease;
            filter: none;
        }
    }

    &__icon ~ &__label {
        padding-left: 44px;
    }

    &__icon + &__field {
        width: calc(100% - 44px);
        margin-left: auto;
        margin-right: 0;
    }
}