@import "@/app/variables";

.authPage {
    min-height: 100%;
    height: min-content;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 580px;
        background: var(--secondary-bg);
        border-radius: 7px;
        overflow: hidden;
    }

    &__gradient {
        flex: 1 1 auto;
        min-height: 40px;
        min-width: 150px;
        position: relative;
        background-image: linear-gradient(to right, $tertiary-color, $input-lighter-bg);
    }

    &__form {
        flex: 1 1 auto;
        padding: 40px 30px 20px;
        background: var(--secondary-bg);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
        max-width: 100%;
        gap: 10px;

        &__title {
            font-size: 1.7rem;
            font-weight: 600;
        }

        &__link {
            opacity: 0.8;
            font-size: 1rem;
            padding-bottom: 1px;
            margin-left: auto;
            font-weight: 300;
            transition: all 0.3s ease;
            margin-top: 25px;
            text-decoration: underline;

            &:hover {
                opacity: 1.0;
            }
        }

        &__error {
            width: 100%;
        }
    }
}

@include media(md) {
    .authPage {
        &__form {
            padding: 30px 25px 10px;

            &__link {
                margin-top: 12px;
            }
        }
    }
}
@include media(sm) {
    .authPage {
        &__form {
            &__link {
                margin-top: 8px;
            }
        }
    }
}
