.confirmModal {
    &__header {
        padding: 20px;
        font-size: 20px;
    }

    &__text {
        background: #222127;
        min-height: 70px;
        line-height: 20px;
        padding: 20px;
    }

    &__buttons {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}
