@import "@/app/variables";

.confirmModal {
    &__header {
        padding: 20px;
        font-size: 1.4rem;
    }

    &__text {
        background: $primary-bg-lighter;
        min-height: 70px;
        line-height: 20px;
        padding: 20px;
    }

    &__buttons {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
}
