.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 36px;

    &__input {
        appearance: none;
        position: absolute;

        &__label {
            padding-left: 34px;
            cursor: pointer;
            transition: all 0.2s ease 0s;
            font-size: 16px;

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                border: 2px solid #8c7ede;
                border-radius: 3px;
                background: #efeff5;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: 1;
                transition: all 0.2s ease 0s;
                margin: 0 10px 0 0;
            }

            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                border: 1px solid transparent;
                opacity: 0;
                background: url('/icon-done.svg') no-repeat;
                background-size: 16px 16px;
                position: absolute;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);
                z-index: 2;
                transition: all 0.2s ease;
            }

        }

        &:checked + &__label:before {
            background: #8c7ede;
            border-color: #8c7ede;
        }

        &:checked + &__label:after {
            opacity: 1;
        }
    }

}