@import "@/app/variables";

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 36px;

    &__input {
        appearance: none;
        position: absolute;

        &__label {
            display: inline-flex;
            gap: 10px;
            position: relative;
            cursor: pointer;
            align-items: center;
            transition: all 0.2s ease 0s;
            font-size: 1.15rem;

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                border: 2px solid $input-lighter-bg;
                border-radius: 3px;
                background: $input-primary-color;
                align-self: flex-start;
                flex: 0 0 24px;
                transition: all 0.2s ease 0s;
            }

            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                border: 1px solid transparent;
                opacity: 0;
                background: url('/icon-done.svg') no-repeat;
                background-size: 16px 16px;
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translate(-50%, -50%);
                z-index: 2;
                transition: all 0.2s ease;
            }

        }

        &:checked + &__label:before {
            background: $input-lighter-bg;
            border-color: $input-lighter-bg;
        }

        &:checked + &__label:after {
            opacity: 1;
        }
    }

}

@include media(sm) {
    .checkbox {
        &__input {
            &__label {
                gap: 8px;

                &:before {
                    flex: 0 0 20px;
                    height: 20px;
                    width: 20px;
                }

                &:after {
                    left: 10px;
                    width: 14px;
                    height: 14px;
                    background-size: 14px 14px;
                }
            }
        }
    }
}
