@import "@/app/variables";

.table {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 750px;
    font-size: 0.9rem;

    &__row {
        &:nth-child(odd) {
            background: var(--secondary-bg);
        }

        &:nth-child(even) {
            background: var(--primary-bg-modified);
        }
    }

    &__col {
        text-align: center;
        padding: 5px 0;


        &__header {
            font-size: 0.8rem;
            position: relative;

            &__description {
                display: none;
                position: absolute;
                top: 33px;
                left: 0;
                background: var(--secondary-bg-darker);
                padding: 5px;
                border-radius: 3px;
                text-align: left;

                &:before {
                    content: '';
                    position: absolute;
                    top: -13px;
                    left: 10px;
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    border-bottom: 6px solid var(--secondary-bg-darker);
                }
            }

            &:hover {
                text-decoration: underline;
            }

            &:hover &__description {
                display: inline-block;
            }

            &__button {
                display: flex;
                justify-content: center;
                gap: 3px;
                align-items: center;
                color: inherit;
                background: inherit;
                font-size: inherit;
                font-family: inherit;
                line-height: inherit;
                width: 100%;
                cursor: pointer;
            }

            &__orderBy_img {
                height: 8px;
                filter: var(--filter-primary-color);

                &__ascending {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
