@import "@/app/variables";

.paramsInformationModal {
    background-color: $primary-bg;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
    max-width: 90vw;
}
