@import "@/app/variables";

.paginationLinks {
    border: 1px solid $primary-color;
    display: flex;
    border-radius: 8px;
    gap: 1px;
    background-color: $primary-color;
    overflow: hidden;
    width: max-content;
    cursor: default;

    &__link {
        padding: 7px 10px;
        background-color: $primary-bg;
        transition: all 0.2s ease;

        &:hover {
            background-color: $input-primary;
        }

        &--current {
            background-color: $input-primary;
        }
    }

    &__disabled {
        padding: 6px 9px;
        background-color: $primary-bg;
    }
}
