.paginationLinks {
    border: 1px solid #efeff5;
    display: flex;
    border-radius: 8px;
    gap: 1px;
    background-color: #efeff5;
    overflow: hidden;
    width: max-content;
    cursor: default;

    &__link {
        padding: 7px 10px;
        background-color: #1a1a1f;
        transition: all 0.2s ease;

        &:hover {
            background-color: #7668cb;
        }

        &--current {
            background-color: #7668cb;
        }
    }

    &__disabled {
        padding: 6px 9px;
        background-color: #1a1a1f;
    }
}