@import "@/app/variables";

.mainChart {
    height: 350px;
    min-width: 450px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
    }

    &__bg {
        flex: 1 1;
        position: relative;
        width: 100%;
        background: var(--secondary-bg);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        z-index: 2;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        &__link {
            background: transparent;
            transition: all 0.2s ease 0s;
            color: var(--primary-color);
            cursor: pointer;

            &:hover {
                color: $secondary-color;
            }

            &__active {
                cursor: default;
                pointer-events: none;
                color: $secondary-color;
            }
        }
    }
}

@include media(md) {
    .mainChart {
        min-width: 400px;
    }
}

@include media(sm) {
    .mainChart {
        min-width: 250px;
    }
}
