@import "@/app/variables";

.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;

    &--show {
        opacity: 1;
    }

    &__bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--secondary-bg-rgb), 0.5);
        z-index: 100;
    }

    &__body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        min-width: 400px;
        max-width: 90vw;
        max-height: 80vh;
        background-color: var(--primary-bg);
        box-shadow: 0 0 10px var(--primary-bg);
        border-radius: 10px;
        overflow-x: auto;
    }
}

@include media(lg) {
    .modal {
        &__body {
            min-width: 300px;
        }
    }
}
