@import "@/app/variables";

.button {
    -webkit-appearance: none;
    width: auto;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	padding: 15px 40px;
    background-color: $input-primary-bg;
    color: $input-primary-color;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    cursor: pointer;

    &--right {
        margin-left: auto;
    }

    &--small {
        padding: 10px 25px;
    }

    &--disabled {
        pointer-events: none;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2px 6px -1px rgba($input-lighter-bg, 0.65);
        background: $input-lighter-bg;

        &:active {
            transform: scale(0.99);
        }
    }

    &__loadingCursor {
        border-radius: 25px;
        cursor: progress;
    }
}

@include media(sm) {
    .button {
        padding: 12px 30px;
    }
}
