.button {
    -webkit-appearance: none;
    width: auto;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	padding: 15px 40px;
    background-color: #7668cb;
    color: #efeff5;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
    cursor: pointer;

    &--right {
        margin-left: auto;
    }

    &--small {
        padding: 10px 25px;
    }

    &--disabled {
        pointer-events: none;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
        background: #8c7ede;

        &:active {
            transform: scale(0.99);
        }
    }

    &__loadingCursor {
        border-radius: 25px;
        cursor: progress;
    }
}