.button {
    -webkit-appearance: none;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #7668cb;
    color: #efeff5;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
        background: #8c7ede;

        &:active {
            transform: scale(0.99);
        }
    }
}