@import "@/app/variables";

.footer {
    background: $primary-bg-lighter;

    &__body {
        padding: 10px;
        min-height: 64px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        &--left {
            display: flex;
            justify-content: center;
            gap: 7px;
            flex: 1 1 auto;
        }

        &--right {
            flex: 1 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        &__logo {
            height: 100%;
            width: 58px;
            padding: 3px 0;
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }

        &__divider {
            width: 2px;
            background-color: $primary-color;
        }
    }
}
