@import "@/app/variables";

.authButtons {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        padding: 7px 12px;
        border-radius: 15px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &__logout {
            padding: 5px 10px;
            border: 2px solid $primary-color;
            position: relative;
            background: transparent;
            color: $primary-color;

            &:hover {
                background: $input-primary;
                border-color: $input-primary;
            }

            &__loading {
                pointer-events: none;
            }
        }

        &__link {
            background: $input-primary;
            display: block;

            &:hover {
                background: $input-lighter;
            }

            &__loading {
                pointer-events: none;
            }
        }
    }

    &__loading {
        cursor: progress;
        border-radius: 15px;
    }
}

@include media(lg) {
    .authButtons {
        width: 100%;
        justify-content: center;
    }
}
