@import "@/app/variables";

.authButtons {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;

    &__btn {
        padding: 7px 12px;
        border-radius: 15px;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &__logout {
            padding: 5px 10px;
            border: 2px solid var(--primary-color);
            position: relative;
            background: transparent;
            color: var(--primary-color);

            &:hover {
                color: $input-primary-color;
                background: $input-primary-bg;
                border-color: $input-primary-bg;
            }

            &__loading {
                pointer-events: none;
            }
        }

        &__link {
            color: $input-primary-color;
            background: $input-primary-bg;
            display: block;

            &:hover {
                background: $input-lighter-bg;
            }

            &__loading {
                pointer-events: none;
            }
        }
    }

    &__loading {
        cursor: progress;
        border-radius: 15px;
    }

    &__icon {
        img {
            filter: var(--filter-primary-color);
            height: 100%;
        }
    }
}

@include media(lg) {
    .authButtons {
        width: 100%;
        justify-content: center;
    }
}
