@import "@/app/variables";

.select {
    font-size: 1.15rem;
    padding: 0;
    height: 56px;
    width: 100%;
    border: none;
    border-bottom: solid 2px rgba(var(--primary-color-rgb), 0.25);
    background: inherit;
    transition: all 0.3s ease;
    font-weight: 400;
    color: var(--primary-color);
    list-style: none;

    &:focus-visible {
        border-bottom: solid 2px $input-primary-bg;
        outline: 0;
    }

    &__option {
        background: var(--secondary-bg);
    }
}
