.select {
    font-size: 16px;
    padding: 0;
    height: 56px;
    width: 100%;
    border: none;
    border-bottom: solid 2px #efeff540;
    background: inherit;
    transition: all 0.3s ease;
    font-weight: 400;
    color: #efeff5;
    list-style: none;

    &:focus-visible {
        border-bottom: solid 2px #7668cb;
        outline: 0;
    }

    &__option {
        background: #333;
    }
}
